name: "Tests"

on:
  pull_request:
  push:
    branches:
      - "master"
      - "tac"

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php-version: '8.1'
            symfony-version: '6.4.*'
          - php-version: '8.4'
            symfony-version: '6.4.*'
          - php-version: '8.2'
            symfony-version: '7.1.*'
          - php-version: '8.3'
            symfony-version: '7.1.*'
          - php-version: '8.4'
            symfony-version: '7.1.*'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Setup env & install dependencies"
        uses: ./.github/actions/install
        with:
          php-version: ${{ matrix.php-version }}
          symfony-version: ${{ matrix.symfony-version }}
      - name: "Run tests with phpunit/phpunit"
        run: vendor/bin/phpunit

  checkstyke:
    name: "Checkstyle"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Setup env & install dependencies"
        uses: ./.github/actions/install
        with:
          php-version: '8.3'
          symfony-version: '7.1.*'
      - name: "Run checkstyle with symplify/easy-coding-standard"
        run: vendor/bin/ecs

  codecov:
    name: "Code coverage"
    needs: [phpunit, checkstyke]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Setup env & install dependencies"
        uses: ./.github/actions/install
        with:
          php-version: '8.4'
          symfony-version: '7.1.*'
          coverage-mode: 'xdebug'
      - name: "Run tests with phpunit/phpunit"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          vendor/bin/phpunit --coverage-clover coverage.xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
